<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_c1da653a18c2874f14826946436044d0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.fullscreen@3.0.0/Control.FullScreen.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_c1da653a18c2874f14826946436044d0" ></div>
        
</body>
<script>
    
    
            var map_c1da653a18c2874f14826946436044d0 = L.map(
                "map_c1da653a18c2874f14826946436044d0",
                {
                    center: [35.690921, 139.700258],
                    crs: L.CRS.EPSG3857,
                    zoom: 6,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a193b4e710b3bee4a87617b858debf40 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_a193b4e710b3bee4a87617b858debf40.addTo(map_c1da653a18c2874f14826946436044d0);
        
    
            var marker_f66d420f3f1a88423692f4222a086f0c = L.marker(
                [37.810281, 140.415909],
                {}
            ).addTo(map_c1da653a18c2874f14826946436044d0);
        
    
            var icon_6e438d9ac99175115a299536cc916316 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f66d420f3f1a88423692f4222a086f0c.setIcon(icon_6e438d9ac99175115a299536cc916316);
        
    
        var popup_cd49bfb7b2a06fa50fa36416a18a7632 = L.popup({"maxWidth": "100%"});

        
            
                var i_frame_13ec861948445384de2f94f705713f7c = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICA8YSBocmVmID1odHRwczovLzk4MS5qcC9mdGwvc2VhcmNoUmVzX2RldGFpbC5kbz9yZXMuaWQ9NjY5NjI3JnBhZ2U9MTYmcy5yZz0zInRhcmdldD0iX2JsYW5rInJlbD0ibm9vcGVuZXIgbm9yZWZlcnJlciI+IDk4MS5qcCAo5Yil44K/44OW44Gn6ZaL44GN44G+44GZKSA8L2E+PGJyPuWjsuWNtOS+oeagvCDihpIgLTxicj7plovmnK3ntZDmnpwg4oaSIOWPluS4izxicj7lhaXmnK3ogIXmlbAg4oaSIC08YnI+6JC95pyt6ICF6LOH5qC8IOKGkiAt" width="1000" style="border:none !important;" height="400"></iframe>`)[0];
                popup_cd49bfb7b2a06fa50fa36416a18a7632.setContent(i_frame_13ec861948445384de2f94f705713f7c);
            
        

        marker_f66d420f3f1a88423692f4222a086f0c.bindPopup(popup_cd49bfb7b2a06fa50fa36416a18a7632)
        ;

        
    
    
            L.control.fullscreen(
                {"forceSeparateButton": true, "position": "topright", "title": "\u62e1\u5927\u3059\u308b", "titleCancel": "\u5143\u306b\u623b\u3059"}
            ).addTo(map_c1da653a18c2874f14826946436044d0);
        
</script>
</html>